[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"
  directory = "netlify/functions"
  external_node_modules = ["bytez.js", "undici"]

[[redirects]]
  from = "/ads.txt"
  to = "https://srv.adstxtmanager.com/19390/modernphototools.com"
  status = 301
  force = true

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
